<header>
  <app-header />
</header>
<main>
  <div class="container">
    <!-- @if (data$ | async) { -->
      <!-- <p-chart
        [data]="data$ | async"
        [options]="options"
        type="bar"
        responsive="true"
        width="100%"
        height="40vh"
      /> -->

      <div class="relative">
        <canvas  id="MyChart" style="width: 100%; height: 40vh;">{{ chart }}</canvas>
      </div>
      <div class="py-4 flex align-items-center gap-4">
        <p-button class="flex-initial" label="Generate new array" (onClick)="generateNewArray()" />
        <div class="col-3 flex align-items-center gap-2">
          <p class="flex-initial w-6rem m-0">Count : {{ length }}</p>
          <p-slider [(ngModel)]="length" min="20" max="100" class="flex-auto"/>
        </div>
      </div>
      <p-button label="Merge sort" (onClick)="mergeSort()" />
    <!-- } -->
  </div>
</main>
