.#{$icon-prefix}-fill {
  font-variation-settings: "FILL" 1;
}

$sizes: 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48;
@each $size in $sizes {
    .#{$icon-prefix}-size-#{$size} {
        &.#{$icon-prefix} {
            font-size: $size * 1px;
        }
    }
}

$degrees: 45 90 135 180 225 270 315;
@each $degree in $degrees {
    .#{$icon-prefix}-rotate-#{$degree}{
      -webkit-transform: rotate(#{$degree}deg);
      -ms-transform: rotate(#{$degree}deg);
      transform: rotate(#{$degree}deg);
    }
}

.#{$icon-prefix}-flip-h {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.#{$icon-prefix}-flip-v {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}