/* You can add global styles to this file, and also import other style files */
@use "primeng/resources/themes/lara-light-blue/theme.css";
@use "primeng/resources/primeng.css";
@use "primeflex/primeflex.css";
@use "assets/styles/icons/index.scss";

body {
  @extend .m-2;
  @extend .text-800;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  @extend .text-green-700;
}

.container {
  @extend .px-3;
  @extend .md\:px-6;
  @extend .lg\:px-8;
}